/* Content styling */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  min-height: calc(100vh - 60px); /* Adjusted to account for the header/footer height */
  margin-left: 250px; /* Adjust if sidebar width changes */
  padding: 20px;
  background: #fff; /* Ensure white background */
}

/* Increase font sizes for headings and paragraphs */
section h1, 
section h2, 
section .experience-item h3 {
  font-size: 2rem; /* Larger font size for headings */
}

section p, 
section ul li {
  font-size: 1.25rem; /* Larger font size for text */
}

/* Ensure full height for body and html for flex */
html, body {
  height: 100%;
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
}

/* Apply flex styling to the body to create a column layout */
body {
  display: flex;
  flex-direction: column;
}

/* Make sidebar the same height as the viewport */
.sidebar {
  height: 100vh; /* Full height */
  width: 250px; /* Sidebar width */
  position: fixed;
  left: 0;
  top: 0;
  background: #333; /* Sidebar color */
  padding-top: 30px; /* Adjust as needed */
  overflow-y: auto; /* Scrollable when content overflows */
}

/* Adjust footer to be at the bottom */
footer {
  position: relative; /* Change to relative to flow with content */
  width: 100%;
  background: #333; /* Footer color */
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .sidebar {
    position: static; /* Static so it flows in document order */
    width: 100%; /* Full width */
    height: auto; /* Height auto for smaller devices */
  }

  section {
    margin-left: 0; /* Reset left margin for mobile */
    padding: 20px; /* Adjust padding for mobile */
    min-height: auto; /* Height auto for smaller devices */
  }

  footer {
    position: relative; /* Footer position adjusted for mobile */
  }
}
